#* @vtlvariable name="typeDescriptor" type="cc.catalysts.cdoclet.generator.velocity.TypeDescriptor" *#
#parse("templates/js/js_macros.vm")
#*
	CLASS
*#
#if($typeDescriptor.description)/**
 * $typeDescriptor.description
 */
#end
function ${typeDescriptor.typeName}() {
#foreach($fieldDescriptor in $typeDescriptor.fieldDescriptors)
#if($fieldDescriptor.modifier != "static")
#if($fieldDescriptor.description)	    /**
     * $fieldDescriptor.description
     */
#end
    this.$fieldDescriptor.fieldName#if($fieldDescriptor.value) = $fieldDescriptor.value#end;
#end
#end
}
#foreach($fieldDescriptor in $typeDescriptor.fieldDescriptors)
#if($fieldDescriptor.modifier == "static")
#if($fieldDescriptor.description)	/**
    * $fieldDescriptor.description
    */
#end
    ${typeDescriptor.typeName}.$fieldDescriptor.fieldName#if($fieldDescriptor.value) = $fieldDescriptor.value#end;
#end
#end
#foreach($methodDescriptor in $typeDescriptor.methodDescriptors)
#if($methodDescriptor.description)/**
 * $methodDescriptor.description
 */
#end
${typeDescriptor.typeName}.prototype.$methodDescriptor.methodName = #js_method($methodDescriptor) #if($methodDescriptor.body)$methodDescriptor.body;
#else{};
#end
#end
