#* @vtlvariable name="typeDescriptor" type="cc.catalysts.cdoclet.generator.velocity.TypeDescriptor" *#
#parse("templates/js/js_macros.vm")
#*
	INTERFACE
*#
#if($typeDescriptor.description)/**
 * $typeDescriptor.description
 */
#end
function ${typeDescriptor.typeName}() {}

#foreach($fieldDescriptor in $typeDescriptor.fieldDescriptors)
#if($fieldDescriptor.description)/**
 * $fieldDescriptor.description
 */
#end
${typeDescriptor.typeName}.$fieldDescriptor.fieldName#if($fieldDescriptor.value) = $fieldDescriptor.value#end;
#end
