#* @vtlvariable name="typeDescriptor" type="cc.catalysts.cdoclet.generator.velocity.TypeDescriptor" *#
#parse("templates/cs/cs_macros.vm")
#*
	INTERFACE
*#
namespace $typeDescriptor.nameSpace {
#region CDoclet generated code
#if($typeDescriptor.description)	/**
	 * <summary>
	 * $typeDescriptor.description
	 * </summary>
	 */
#end
#foreach($annotation in $typeDescriptor.annotations)	[$annotation.qualifiedTypeName]
#end
	public interface $typeDescriptor.typeName#cs_generics($typeDescriptor)#cs_implements($typeDescriptor)#cs_bounds($typeDescriptor) {
#foreach($propertyDescriptor in $typeDescriptor.propertyDescriptors)
		#cs_modifiers($propertyDescriptor, '')#cs_property($propertyDescriptor) { #if($propertyDescriptor.getter)get;#end#if($propertyDescriptor.setter)set;#end }
#end
#if($typeDescriptor.propertyDescriptors.size() > 0)

#end
#foreach($methodDescriptor in $typeDescriptor.methodDescriptors)
#if($methodDescriptor.description)		/**
		 * <summary>
		 * $methodDescriptor.description
		 * </summary>
		 */
#end
#foreach($annotation in $methodDescriptor.annotations)      [$annotation.qualifiedTypeName]
#end
		#if($methodDescriptor.modifier != "")$methodDescriptor.modifier #end#cs_method($methodDescriptor);
#end
	}
#endregion
}
