#* @vtlvariable name="typeDescriptor" type="cc.catalysts.cdoclet.generator.velocity.TypeDescriptor" *#
#parse("templates/java/java_macros.vm")
#*
	ENUM
*#
package $typeDescriptor.nameSpace;
#if($typeDescriptor.description)	/**
	 * <summary>
	 * $typeDescriptor.description
	 * </summary>
	 */
#end
#foreach($annotation in $typeDescriptor.annotations)@$annotation.name
#end
	public enum $typeDescriptor.typeName#java_generics($typeDescriptor)#java_bounds($typeDescriptor) {#foreach($fieldDescriptor in $typeDescriptor.fieldDescriptors)#if($velocityCount>1), #end

		$fieldDescriptor.fieldName#if($fieldDescriptor.value) = $fieldDescriptor.value#end#end

	}
}